@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  h5 {
    @apply text-lg;
    @apply font-semibold;
  }
  h6 {
    @apply text-sm;
    @apply font-semibold;
  }
}

html,
body {
  overscroll-behavior: none;
  background-color: #121212;
  color: #ededed;
}

body {
  overflow-y: auto;
}

/* Force vertical text orientation and lock rotation */
.vertical-text-fixed {
  writing-mode: vertical-rl !important;
  transform: rotate(180deg) !important;
  white-space: nowrap;
}
